.hennshuu{idth: calc(23%); 
    background: -moz-linear-gradient(65deg, #F13F79, #FFC778);
    background: -webkit-linear-gradient(65deg, #F13F79, #FFC778);
    background: linear-gradient(25deg, #F13F79, #FFC778);
    border: solid #6118c1;
    border-radius: 20px;
    padding: 10px;
    margin: 10px auto;
}